.product {
    width: 300px;
    height: 500px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.322));
    border: 1px solid #95A0A7;
    border-radius: 10px;
    /* padding: 5px; */
    position: relative;
}
.product:hover{
    background-color: #95a0a71a;
}
.product-info{
    padding: 0 10px;
}

.btn {
    background-color: antiquewhite;
    height: 48px;
    position: absolute;
    width: 100%;
    bottom: 0px;
    border: 1px solid #95A0A7;
    border-radius: 0px 0px 8px 8px;

}
.btn:hover{
    background-color: rgb(255, 225, 186);
}

.product img {
    width: 280px;
    height: 280px;
    margin: 8px;
}

.product h6 {
    font-size: 21px;
    font-weight: 400;
    margin: 10px 0;
}

.product sub {
    font-size: 19px;
    font-weight: 400;
}

.product p {
    font-size: 14px;
    font-weight: 400;
}