.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
   
}
.product-container{
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 45px;

}

.btn-review{
    width: 90%;
 background-color:#ff8330;
 padding: 10px;
 display:flex;
 justify-content: space-between;
 align-items: center;
 color: white;
 margin: 0 auto;
 margin-top: 20px;
}